<div class="widget-container">
  <div class="widget-header">
    <div class="select">
      <select (change)="countryChanged($event)">
        <option
          [selected]="country.country === 'Azerbaijan'"
          [value]="country.country"
          *ngFor="let country of countries">{{country.country}}</option>
      </select>
    </div>
  </div>
  <div class="widget-content"
       *ngIf="(covidService.dataLoaded | async) else loading">
    <small>Updated: {{covidService.casesList?.All?.updated | date: 'YYYY-MM-dd'}}</small>
    <div class="content-wrapper">
      <div class="d-flex gap-20 align-items-center">
        <p>Confirmed:</p>
      </div>
      <div class="d-column align-items-end">
        <span>{{covidService.casesList?.All?.confirmed}}</span>
      </div>
    </div>
    <div class="content-wrapper">
      <div class="d-flex gap-20 align-items-center">
        <p>Recovered:</p>
      </div>
      <span>{{covidService.casesList?.All?.recovered}}</span>
    </div>
    <div class="content-wrapper">
      <div class="d-flex gap-20 align-items-center">
        <p>Deaths:</p>
      </div>
      <span>{{covidService.casesList?.All?.deaths}}</span>
    </div>
    <div class="content-wrapper">
      <div class="d-flex gap-20 align-items-center">
        <p>New cases (1d*):</p>
      </div>
      <span>{{covidService?.newCases}}</span>
    </div>
    <div class="content-wrapper">
      <div class="d-flex gap-20 align-items-center">
        <p>Vaccinated:</p>
      </div>
      <span>{{covidService.vaccinesList?.All?.people_vaccinated || '---'}}</span>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="widget-content spinner-wrapper">
    <div id="spinner"></div>
  </div>
</ng-template>
